PORT=3000

# MongoDB local:
MONGODB_URI=mongodb://localhost:27017/techstore

# MongoDB Atlas (producción):
# MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/techstore?retryWrites=true&w=majority

# Clave secreta JWT (cambiar por un valor seguro en producción):
JWT_SECRET=secretkey
