PORT=3000

# URI de MongoDB (no incluya credenciales reales en el repositorio)
MONGODB_URI=mongodb://localhost:27017/techstore

# Ejemplo para despliegue usando Mongo Atlas
# MONGODB_URI=mongodb+srv://usuario:password@cluster0.mongodb.net/techstore?retryWrites=true&w=majority

